.ch {
  animation: new 3s;
}

@keyframes new {
  from {
    color: red;
    background: rgb(255, 244, 224);
  }
  to {
    color: black;
  }
}

.fancyText {
  position: relative;
  transition: all 0.2s;
}

.fancyText > * {
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: normal;
}

label {
  display: block;
  font-size: 1rem !important;
  color: #000d;
}

.fancyText input {
  color: transparent;
  z-index: 4;
  border: none;
  border-bottom: 4px solid #ddd;
  outline: none;
}
::placeholder {
  color: #0003;
}

::selection {
  background: #aaa;
}
.fancyText .highlighted {
  position: absolute;
  z-index: 0;
  top: 0;
  user-select: none;
  pointer-events: none;
}
