.btn {
  color: #2583ff;
  border-radius: 1em;
  border: none;
  background: #fff;
  padding: 0.7em 1.2em;
  transition: all 0.2s;
  cursor: pointer;
  font-weight: bold;
  box-shadow: -2px 2px 7px #0003;

  &:hover {
    background: #2583ff;
    color: white;
  }
}

.logout {
  position: absolute;
  top: 2em;
  right: 3em;
}
