.submissions {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: 0 1em;
  h1 {
    margin-bottom: 0;
  }
  .desc {
    margin-bottom: 2em;
    color: #999;
  }
  .items {
    max-height: 50em;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
  }
}

.submission {
  background: #fffb;
  border-radius: 1em;
  position: relative;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0.3em 0;
  transition: all 0.2s;
  cursor: default;

  &:hover {
    background: #eeee;
  }

  .date,
  .c_id {
    display: inline-block;
  }
  .c_id {
    font-weight: bold;
    color: #ccc;
  }

  .light {
    color: #777;
    font-weight: normal;
  }

  .main {
    display: flex;
    justify-content: space-between;

    .left {
      display: flex;
      flex-direction: column;
      .bottom {
        display: flex;
        .rating {
          margin-right: 1em;
          padding: 0.2em 0.5em;
          background: #c4005122;
          color: #c40051;
        }
        .tags {
          display: inline-flex;
          margin-bottom: 0.5em;
          max-width: 30em;
          flex-wrap: wrap;
          .tag {
            padding: 0.5em;
            background: #0079a822;
            color: #0079a8;
            border-radius: 0.2em;
            margin-right: 1em;
            font-size: 0.6em;
            font-weight: bold;
          }
        }
      }
    }

    .right {
      min-width: 5em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      margin-right: 1em;

      .verdict {
        font-size: 1.5em;
        margin-bottom: 0.5em;
      }
      .cpu {
        display: flex;
        * {
          margin: 0.5em;
        }
      }
    }
  }

  .name {
    font-size: 1.4em;
    p {
      margin-bottom: 0.5em;
      margin-top: 0.5em;
    }
  }

  .date {
    color: #666;
    font-size: 0.8em;
    display: inline-block;
    position: relative;
    max-width: 15em;
    margin-right: 1em;
  }
}
